body{
    margin: 0;
}

.owl-stage-outer{
    margin-top: 30px;
    padding-left: 70px;
    padding-right: 830px;
    position: relative;
}
.owl-carousel{
    width: 40%;
    margin-left: 30%;
}
.owl-prev{
position: absolute;
top: 40%;
left: 0;
background-color: white;
border-radius: 50%;
font-size: 40px;
}
.owl-prev img{
    transform: rotate(3.142rad);
}

.owl-next{
    position: absolute;
    right: -134px;
    top: 40%;

}