#navbar{
    background-color: teal;
}
#navtop{
    display:flex;
}
.mainlogo{
    width:200px;
    height:50px;
    margin-top: 10px;
}
#bar{
    display:flex;
    background-color: white;
    width:800px;
    height:50px;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 10px;
}
#searchicon{
    width:30px;
    height:25px;
    background-color: rgb(222, 231, 231);
margin-top: 10px;
}
#select{
    width:170px;
    font-size: larger;
    border:1px solid white;
  border-radius: 10px;
  color: teal;
}
#searchbar{
  border:1px solid white;
    width:600px;
    font-size: larger;
}
.searchicon{
   background-color: rgb(241, 241, 241);
    width:50px;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#navbottom{
    display:flex;
    margin-top: 15px;
    
    width:1090px;
    height:40px;
    margin-left: 250px;
    justify-content: space-between;
    padding-top: 5px;
}
#left{
    display:flex;
    color:white;
    font-size: larger;
    font-family:'Times New Roman', Times, serif;

    width:520px;
    justify-content: space-between;
}
#right{
    display:flex;
    color:white;
    font-size: larger;
   
    width:380px;
    justify-content: space-between;
  
    
}
.center{
   
   margin-top: -22px;
    margin-left: 30px;
   

}